<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost\\SQLEXPRESS:1433;databaseName=hibernate-query;encrypt=true;trustServerCertificate=true</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">gau@123@ABCD</property>
		<property name="show_sql">true</property>

		<mapping class="com.thuan.hibernate.entity.Employee"></mapping>
		<mapping class="com.thuan.hibernate.entity.Department"></mapping>

	</session-factory>
</hibernate-configuration>